.ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    padding: 0;
    list-style-type: none;
}

.delete {
    color: gray;
    text-align: center;
    padding-top: 20px;
}