.add_input_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}

.add_input {
    background-color: rgb(227, 245, 149);
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 20px;
}

.btn {
    background-color: rgb(184, 211, 140);
    border: none;
    height: 100%;
    margin-left: 10px;
    border-radius: 5px;
    width: 65px;
    height: 40px;
    border: 1px solid green;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(161, 204, 133);
}

.btn:active {
    padding: 0;
}

.btn::-moz-focus-inner {
    border: 0;
}