.add_input_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}

.add_input {
    background-color: rgb(227, 245, 149);
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 20px;
    width: auto;
}

.add_input:focus {
    box-shadow: 0 0 6px 2px rgba(168, 231, 66, 0.5);
}

.btn {
    background-color: rgb(184, 211, 140);
    border: none;
    height: 100%;
    margin-left: 10px;
    border-radius: 5px;
    width: 65px;
    height: 40px;
    border: 1px solid green;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(161, 204, 133);
}

.btn:active {
    padding: 0;
}

.btn::-moz-focus-inner {
    border: 0;
}

@media (max-width: 430px) {
    .add_input {
        width: 170px;
    }
}

@media (max-width: 800px) {
    .add_input_form {
        margin-top: auto;
    }
}