.title {
    font-family: 'Be Vietnam', sans-serif;
    color: rgb(56, 65, 34);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.counter {
    color: rgb(152, 158, 129)
}