.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.input_search {
    background-color: rgb(244, 255, 194);
    border: none;
    border-radius: 5px;
    padding: 10px;
}