.btn_group {
    margin-left: 30px;
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    background-color: rgb(231, 245, 110);
    height: 30px;
    width: 60px;
    padding: 3px;
    border: none;
}

.btn:not([class*='active']):hover {
    background-color: rgb(175, 187, 7);
}

.btn:active {
    padding: 0;
}

.active {
    background-color: rgb(124, 156, 73);
    height: 30px;
    width: 60px;
    padding: 3px;
    border: none;
    color: #fff;
}