.wrapper {
    display: grid;
    justify-content: center;
    border: 1px solid greenyellow;
    width: 500px;
    padding: 20px;
}

.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}